pipeline/ORV LOAD PROD.json
{
	"name": "ORV LOAD PROD",
	"properties": {
		"activities": [
			{
				"name": "Iterate Data",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.CW_Items",
						"type": "Expression"
					},
					"batchCount": 2,
					"activities": [
						{
							"name": "If ColumnsNamesBlankSpacesOrLimitedLoad",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "If FullLoad",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@or(pipeline().parameters.ColumnsNamesBlankSpaces,greater(length(pipeline().parameters.LimitedLoadTopX),1))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "SelectStatementBuilder",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"timeout": "0.03:00:00",
											"retry": 3,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "PostgreSqlSource",
												"query": {
													"value": "@concat(' \nDECLARE @s VARCHAR(MAX)\nDECLARE @tablename VARCHAR(MAX) = ''', item().Source.TableName,'''\nSELECT @s = ISNULL(@s + '', '','''') + ''['' + c.name + '']'' + '' as ['' + replace(c.name,'' '',''_'') + ''] ''\nFROM information_schema.columns c \nWHERE table_name = @tablename\nSELECT ''SELECT '' + @s + '' FROM ['' +  @tablename + '']', if(greater(length(item().Increment.IdField),1),concat(' ORDER BY ', item().Increment.IdField, ' DESC'),''), if(greater(length(pipeline().parameters.LimitedLoadTopX),1),concat(' LIMIT ', pipeline().parameters.LimitedLoadTopX),''),''' as Query')",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "PostgresSQL_Dataset",
												"type": "DatasetReference",
												"parameters": {
													"ServerName": {
														"value": "@variables('ServerName')",
														"type": "Expression"
													},
													"DatabaseName": {
														"value": "@variables('DatabaseName')",
														"type": "Expression"
													},
													"UserName": {
														"value": "@variables('UserName')",
														"type": "Expression"
													},
													"CW_SchemaName": {
														"value": "@variables('SchemaName')",
														"type": "Expression"
													},
													"SecretName": {
														"value": "@variables('SecretName')",
														"type": "Expression"
													},
													"CW_TableName": {
														"value": "@item().Source.TableName",
														"type": "Expression"
													},
													"Port": {
														"value": "@variables('Port')",
														"type": "Expression"
													}
												}
											}
										}
									}
								]
							}
						},
						{
							"name": "If FullLoad",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@pipeline().parameters.Full_Load",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Lookup Last Max Field",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"timeout": "0.03:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "@concat('SELECT MAX(',item().Increment.IncField,')  as Field \n FROM\n    OPENROWSET(\n        BULK ','''',variables('DataLake'),variables('ContainerName'),'/',variables('FolderName'),'/',item().destination.FileName,'.parquet','''',\n        ',FORMAT = ','''PARQUET''','\n    ) AS [result]')",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "AzureSqlConnection",
												"type": "DatasetReference",
												"parameters": {
													"ASAEndpoint": {
														"value": "@variables('ASAEndpoint')",
														"type": "Expression"
													},
													"ASADataBase": {
														"value": "@variables('ASADataBase')",
														"type": "Expression"
													}
												}
											}
										}
									},
									{
										"name": "Remove Old Data Incremental Data_SingleFile",
										"type": "Delete",
										"dependsOn": [
											{
												"activity": "Lookup Last Max Field",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.03:00:00",
											"retry": 3,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataset": {
												"referenceName": "DataLakeParquet",
												"type": "DatasetReference",
												"parameters": {
													"CW_FolderName": {
														"value": "@concat(variables('FolderName'),'_Incremental_Data')",
														"type": "Expression"
													},
													"CW_FileName": {
														"value": "@concat(item().Destination.FileName,'.parquet')",
														"type": "Expression"
													},
													"ContainerName": {
														"value": "@variables('ContainerName')",
														"type": "Expression"
													},
													"DataLake": {
														"value": "@variables('DataLake')",
														"type": "Expression"
													}
												}
											},
											"enableLogging": false,
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Remove Old Data Data_Folder",
										"type": "Delete",
										"dependsOn": [
											{
												"activity": "Remove Old Data Data_SingleFile",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "0.03:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataset": {
												"referenceName": "DataLakeParquet",
												"type": "DatasetReference",
												"parameters": {
													"CW_FolderName": {
														"value": "@variables('FolderName')",
														"type": "Expression"
													},
													"CW_FileName": {
														"value": "@concat(item().Destination.FileName,'.parquet')",
														"type": "Expression"
													},
													"ContainerName": {
														"value": "@variables('ContainerName')",
														"type": "Expression"
													},
													"DataLake": {
														"value": "@variables('DataLake')",
														"type": "Expression"
													}
												}
											},
											"enableLogging": false,
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"wildcardFileName": {
													"value": "@{concat(variables('ContainerName'),'/',variables('FolderName'),'/',item().Destination.FileName,'.parquet','/')}",
													"type": "Expression"
												},
												"enablePartitionDiscovery": false
											}
										}
									},
									{
										"name": "Remove Old Data Data_SingleFile",
										"type": "Delete",
										"dependsOn": [],
										"policy": {
											"timeout": "0.03:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataset": {
												"referenceName": "DataLakeParquet",
												"type": "DatasetReference",
												"parameters": {
													"CW_FolderName": {
														"value": "@variables('FolderName')",
														"type": "Expression"
													},
													"CW_FileName": {
														"value": "@concat(item().Destination.FileName,'.parquet')",
														"type": "Expression"
													},
													"ContainerName": {
														"value": "@variables('ContainerName')",
														"type": "Expression"
													},
													"DataLake": {
														"value": "@variables('DataLake')",
														"type": "Expression"
													}
												}
											},
											"enableLogging": false,
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										}
									},
									{
										"name": "WaitBecause of Error",
										"type": "Wait",
										"dependsOn": [
											{
												"activity": "Remove Old Data Data_Folder",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 1
										}
									}
								]
							}
						},
						{
							"name": "Switch1",
							"type": "Switch",
							"dependsOn": [
								{
									"activity": "If ColumnsNamesBlankSpacesOrLimitedLoad",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@if(pipeline().parameters.Full_Load,'FullTakeOn'\n   ,if(and(equals(item().Increment.IncField,item().Increment.IdField),lessOrEquals(length(pipeline().parameters.TakeOnPeriod),1)),'IdLoad'\n      ,'DateLoad'\n   )\n)",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "DateLoad",
										"activities": [
											{
												"name": "Partition DF",
												"type": "ExecuteDataFlow",
												"dependsOn": [
													{
														"activity": "Delete The Left File_DateLoad_SingleFile",
														"dependencyConditions": [
															"Succeeded",
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataflow": {
														"referenceName": "Partitioning DF",
														"type": "DataFlowReference",
														"parameters": {
															"cw_FileName": {
																"value": "'@{concat(item().Destination.FileName,'.parquet')}'",
																"type": "Expression"
															},
															"cw_FolderName": {
																"value": "'@{variables('FolderName')}'",
																"type": "Expression"
															},
															"cw_IncFolderName": {
																"value": "'@{concat(variables('FolderName'),'_Incremental_Data')}'",
																"type": "Expression"
															},
															"cw_incField": {
																"value": "'@{item().Increment.IncField}'",
																"type": "Expression"
															},
															"ContainerName": {
																"value": "'@{variables('ContainerName')}'",
																"type": "Expression"
															}
														},
														"linkedServiceParameters": {
															"source2": {
																"linkedService": {
																	"DataLake": {
																		"value": "@variables('DataLake')",
																		"type": "Expression"
																	}
																}
															},
															"sink1": {
																"linkedService": {
																	"DataLake": {
																		"value": "@variables('DataLake')",
																		"type": "Expression"
																	}
																}
															}
														}
													},
													"integrationRuntime": {
														"referenceName": "DataFlowIRLarge",
														"type": "IntegrationRuntimeReference"
													},
													"traceLevel": "Fine"
												}
											},
											{
												"name": "Delete The Left File_DateLoad_Folder",
												"type": "Delete",
												"dependsOn": [
													{
														"activity": "UnionSparkJob",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataset": {
														"referenceName": "DataLakeParquet",
														"type": "DatasetReference",
														"parameters": {
															"CW_FolderName": {
																"value": "@variables('FolderName')",
																"type": "Expression"
															},
															"CW_FileName": {
																"value": "@concat(item().Destination.FileName,'.parquet')",
																"type": "Expression"
															},
															"ContainerName": {
																"value": "@variables('ContainerName')",
																"type": "Expression"
															},
															"DataLake": {
																"value": "@variables('DataLake')",
																"type": "Expression"
															}
														}
													},
													"enableLogging": false,
													"storeSettings": {
														"type": "AzureBlobFSReadSettings",
														"recursive": true,
														"wildcardFileName": {
															"value": "@{concat(variables('ContainerName'),'/',variables('FolderName'),'/',item().Destination.FileName,'.parquet','/')}",
															"type": "Expression"
														},
														"enablePartitionDiscovery": false
													}
												}
											},
											{
												"name": "Delete the Temp File",
												"type": "Delete",
												"dependsOn": [
													{
														"activity": "Partition DF",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataset": {
														"referenceName": "DataLakeParquet",
														"type": "DatasetReference",
														"parameters": {
															"CW_FolderName": {
																"value": "@concat(variables('FolderName'),'/T1')",
																"type": "Expression"
															},
															"CW_FileName": {
																"value": "@concat(item().Destination.FileName,'.parquet')",
																"type": "Expression"
															},
															"ContainerName": {
																"value": "@variables('ContainerName')",
																"type": "Expression"
															},
															"DataLake": {
																"value": "@variables('DataLake')",
																"type": "Expression"
															}
														}
													},
													"enableLogging": false,
													"storeSettings": {
														"type": "AzureBlobFSReadSettings",
														"recursive": true,
														"enablePartitionDiscovery": false
													}
												}
											},
											{
												"name": "Delete The Right File",
												"type": "Delete",
												"dependsOn": [
													{
														"activity": "Partition DF",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataset": {
														"referenceName": "DataLakeParquet",
														"type": "DatasetReference",
														"parameters": {
															"CW_FolderName": {
																"value": "@concat(variables('FolderName'),'_Incremental_Data')",
																"type": "Expression"
															},
															"CW_FileName": {
																"value": "@concat(item().Destination.FileName,'.parquet')",
																"type": "Expression"
															},
															"ContainerName": {
																"value": "@variables('ContainerName')",
																"type": "Expression"
															},
															"DataLake": {
																"value": "@variables('DataLake')",
																"type": "Expression"
															}
														}
													},
													"enableLogging": false,
													"storeSettings": {
														"type": "AzureBlobFSReadSettings",
														"recursive": true,
														"enablePartitionDiscovery": false
													}
												}
											},
											{
												"name": "Copy New incremental data",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.03:00:00",
													"retry": 3,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "PostgreSqlSource",
														"query": {
															"value": "@concat(if(or(pipeline().parameters.ColumnsNamesBlankSpaces, greater(length(pipeline().parameters.LimitedLoadTopX),1)),\n        activity('SelectStatementBuilder').output.firstRow.Query,concat('SELECT * FROM ', item().Source.TableName)\n        )\n    ,' WHERE ', item().Increment.IncField, ' > ',\n        if(greater(length(pipeline().parameters.TakeOnPeriod),1)\n        ,pipeline().parameters.TakeOnPeriod\n        ,concat('''',activity('Lookup Last Max Field').output.firstRow.Field,'''')\n        )\n    )",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "ParquetSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "ParquetWriteSettings"
														}
													},
													"enableStaging": false,
													"validateDataConsistency": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "PostgresSQL_Dataset",
														"type": "DatasetReference",
														"parameters": {
															"ServerName": {
																"value": "@variables('ServerName')",
																"type": "Expression"
															},
															"DatabaseName": {
																"value": "@variables('DatabaseName')",
																"type": "Expression"
															},
															"UserName": {
																"value": "@variables('UserName')",
																"type": "Expression"
															},
															"CW_SchemaName": {
																"value": "@variables('SchemaName')",
																"type": "Expression"
															},
															"SecretName": {
																"value": "@variables('SecretName')",
																"type": "Expression"
															},
															"CW_TableName": {
																"value": "@item().Source.TableName",
																"type": "Expression"
															},
															"Port": {
																"value": "@variables('Port')",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DataLakeParquet",
														"type": "DatasetReference",
														"parameters": {
															"CW_FolderName": {
																"value": "@concat(variables('FolderName'),'_Incremental_Data')",
																"type": "Expression"
															},
															"CW_FileName": {
																"value": "@concat(item().Destination.FileName,'.parquet')",
																"type": "Expression"
															},
															"ContainerName": {
																"value": "@variables('ContainerName')",
																"type": "Expression"
															},
															"DataLake": {
																"value": "@variables('DataLake')",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "Delete The Left File_DateLoad_SingleFile",
												"type": "Delete",
												"dependsOn": [
													{
														"activity": "Delete The Left File_DateLoad_Folder",
														"dependencyConditions": [
															"Failed",
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataset": {
														"referenceName": "DataLakeParquet",
														"type": "DatasetReference",
														"parameters": {
															"CW_FolderName": {
																"value": "@variables('FolderName')",
																"type": "Expression"
															},
															"CW_FileName": {
																"value": "@concat(item().Destination.FileName,'.parquet')",
																"type": "Expression"
															},
															"ContainerName": {
																"value": "@variables('ContainerName')",
																"type": "Expression"
															},
															"DataLake": {
																"value": "@variables('DataLake')",
																"type": "Expression"
															}
														}
													},
													"enableLogging": false,
													"storeSettings": {
														"type": "AzureBlobFSReadSettings",
														"recursive": true,
														"enablePartitionDiscovery": false
													}
												}
											},
											{
												"name": "UnionSparkJob",
												"type": "SynapseNotebook",
												"dependsOn": [
													{
														"activity": "Copy New incremental data",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"notebook": {
														"referenceName": "UnionSparkJob",
														"type": "NotebookReference"
													},
													"parameters": {
														"cw_FolderName": {
															"value": {
																"value": "@variables('FolderName')",
																"type": "Expression"
															},
															"type": "string"
														},
														"cw_FileName": {
															"value": {
																"value": "@concat(item().Destination.FileName,'.parquet')",
																"type": "Expression"
															},
															"type": "string"
														},
														"cw_IncFolderName": {
															"value": {
																"value": "@concat(variables('FolderName'),'_Incremental_Data')",
																"type": "Expression"
															},
															"type": "string"
														},
														"cw_IdField": {
															"value": {
																"value": "@item().Increment.IdField",
																"type": "Expression"
															},
															"type": "string"
														},
														"ContainerName": {
															"value": {
																"value": "@variables('ContainerName')",
																"type": "Expression"
															},
															"type": "string"
														},
														"DataLakeDF": {
															"value": {
																"value": "@replace(variables('DataLake'),'https://','')",
																"type": "Expression"
															},
															"type": "string"
														}
													},
													"snapshot": true,
													"sparkPool": {
														"referenceName": "PRDSparkPool",
														"type": "BigDataPoolReference"
													},
													"executorSize": "Medium",
													"conf": {
														"spark.dynamicAllocation.minExecutors": 1,
														"spark.dynamicAllocation.maxExecutors": 4
													},
													"driverSize": "Medium",
													"numExecutors": 1
												}
											}
										]
									},
									{
										"value": "IdLoad",
										"activities": [
											{
												"name": "Copy New incremental data_IDLoad",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.03:00:00",
													"retry": 3,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "PostgreSqlSource",
														"query": {
															"value": "@concat(if(or(pipeline().parameters.ColumnsNamesBlankSpaces,    greater(length(pipeline().parameters.LimitedLoadTopX),1)),\n        activity('SelectStatementBuilder').output.firstRow.Query, concat('SELECT * FROM ', item().Source.TableName)\n        )   \n    ,' WHERE ', item().Increment.IncField, ' > ',\n        if(greater(length(pipeline().parameters.TakeOnPeriod),1)\n        ,pipeline().parameters.TakeOnPeriod\n        ,activity('Lookup Last Max Field').output.firstRow.Field\n        )\n    )",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "ParquetSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "ParquetWriteSettings"
														}
													},
													"enableStaging": false,
													"validateDataConsistency": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "PostgresSQL_Dataset",
														"type": "DatasetReference",
														"parameters": {
															"ServerName": {
																"value": "@variables('ServerName')",
																"type": "Expression"
															},
															"DatabaseName": {
																"value": "@variables('DatabaseName')",
																"type": "Expression"
															},
															"UserName": {
																"value": "@variables('UserName')",
																"type": "Expression"
															},
															"CW_SchemaName": {
																"value": "@variables('SchemaName')",
																"type": "Expression"
															},
															"SecretName": {
																"value": "@variables('SecretName')",
																"type": "Expression"
															},
															"CW_TableName": {
																"value": "@item().Source.TableName",
																"type": "Expression"
															},
															"Port": {
																"value": "@variables('Port')",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DataLakeParquet",
														"type": "DatasetReference",
														"parameters": {
															"CW_FolderName": {
																"value": "@concat(variables('FolderName'),'_Incremental_Data')",
																"type": "Expression"
															},
															"CW_FileName": {
																"value": "@concat(item().Destination.FileName,'.parquet')",
																"type": "Expression"
															},
															"ContainerName": {
																"value": "@variables('ContainerName')",
																"type": "Expression"
															},
															"DataLake": {
																"value": "@variables('DataLake')",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "Data flow Union_IDLoad",
												"type": "ExecuteDataFlow",
												"dependsOn": [
													{
														"activity": "Copy New incremental data_IDLoad",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataflow": {
														"referenceName": "IncrementalLoadID DataFlow",
														"type": "DataFlowReference",
														"parameters": {
															"cw_FolderName": {
																"value": "'@{variables('FolderName')}'",
																"type": "Expression"
															},
															"cw_FileName": {
																"value": "'@{concat(item().Destination.FileName,'.parquet')}'",
																"type": "Expression"
															},
															"cw_IncFolderName": {
																"value": "'@{concat(variables('FolderName'),'_Incremental_Data')}'",
																"type": "Expression"
															},
															"cw_IdField": {
																"value": "'@{item().Increment.IdField}'",
																"type": "Expression"
															},
															"ContainerName": {
																"value": "'@{variables('ContainerName')}'",
																"type": "Expression"
															}
														},
														"linkedServiceParameters": {
															"source1": {
																"linkedService": {
																	"DataLake": {
																		"value": "@variables('DataLake')",
																		"type": "Expression"
																	}
																}
															},
															"source2": {
																"linkedService": {
																	"DataLake": {
																		"value": "@variables('DataLake')",
																		"type": "Expression"
																	}
																}
															},
															"WritetoDataLake": {
																"linkedService": {
																	"DataLake": {
																		"value": "@variables('DataLake')",
																		"type": "Expression"
																	}
																}
															}
														}
													},
													"integrationRuntime": {
														"referenceName": "DataFlowIRLarge",
														"type": "IntegrationRuntimeReference"
													},
													"traceLevel": "Fine"
												}
											},
											{
												"name": "Partition DF_IDLoad",
												"type": "ExecuteDataFlow",
												"dependsOn": [
													{
														"activity": "Delete The Left File_IDLoad_SingleFile",
														"dependencyConditions": [
															"Succeeded",
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataflow": {
														"referenceName": "Partitioning DF",
														"type": "DataFlowReference",
														"parameters": {
															"cw_FileName": {
																"value": "'@{concat(item().Destination.FileName,'.parquet')}'",
																"type": "Expression"
															},
															"cw_FolderName": {
																"value": "'@{variables('FolderName')}'",
																"type": "Expression"
															},
															"cw_IncFolderName": {
																"value": "'@{concat(variables('FolderName'),'_Incremental_Data')}'",
																"type": "Expression"
															},
															"cw_incField": {
																"value": "'@{item().Increment.IncField}'",
																"type": "Expression"
															},
															"ContainerName": {
																"value": "'@{variables('ContainerName')}'",
																"type": "Expression"
															}
														},
														"linkedServiceParameters": {
															"source2": {
																"linkedService": {
																	"DataLake": {
																		"value": "@variables('DataLake')",
																		"type": "Expression"
																	}
																}
															},
															"sink1": {
																"linkedService": {
																	"DataLake": {
																		"value": "@variables('DataLake')",
																		"type": "Expression"
																	}
																}
															}
														}
													},
													"integrationRuntime": {
														"referenceName": "DataFlowIRLarge",
														"type": "IntegrationRuntimeReference"
													},
													"traceLevel": "Fine"
												}
											},
											{
												"name": "Delete The Left File_IDLoad_Folder",
												"type": "Delete",
												"dependsOn": [
													{
														"activity": "Data flow Union_IDLoad",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataset": {
														"referenceName": "DataLakeParquet",
														"type": "DatasetReference",
														"parameters": {
															"CW_FolderName": {
																"value": "@variables('FolderName')",
																"type": "Expression"
															},
															"CW_FileName": {
																"value": "@concat(item().Destination.FileName,'.parquet')",
																"type": "Expression"
															},
															"ContainerName": {
																"value": "@variables('ContainerName')",
																"type": "Expression"
															},
															"DataLake": {
																"value": "@variables('DataLake')",
																"type": "Expression"
															}
														}
													},
													"enableLogging": false,
													"storeSettings": {
														"type": "AzureBlobFSReadSettings",
														"recursive": true,
														"wildcardFileName": {
															"value": "@{concat(variables('ContainerName'),'/',variables('FolderName'),'/',item().Destination.FileName,'.parquet','/')}",
															"type": "Expression"
														},
														"enablePartitionDiscovery": false
													}
												}
											},
											{
												"name": "Delete the Temp File_IDLoad",
												"type": "Delete",
												"dependsOn": [
													{
														"activity": "Partition DF_IDLoad",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataset": {
														"referenceName": "DataLakeParquet",
														"type": "DatasetReference",
														"parameters": {
															"CW_FolderName": {
																"value": "@concat(variables('FolderName'),'/T1')",
																"type": "Expression"
															},
															"CW_FileName": {
																"value": "@concat(item().Destination.FileName,'.parquet')",
																"type": "Expression"
															},
															"ContainerName": {
																"value": "@variables('ContainerName')",
																"type": "Expression"
															},
															"DataLake": {
																"value": "@variables('DataLake')",
																"type": "Expression"
															}
														}
													},
													"enableLogging": false,
													"storeSettings": {
														"type": "AzureBlobFSReadSettings",
														"recursive": true,
														"enablePartitionDiscovery": false
													}
												}
											},
											{
												"name": "Delete The Right File_IDLoad",
												"type": "Delete",
												"dependsOn": [
													{
														"activity": "Partition DF_IDLoad",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataset": {
														"referenceName": "DataLakeParquet",
														"type": "DatasetReference",
														"parameters": {
															"CW_FolderName": {
																"value": "@concat(variables('FolderName'),'_Incremental_Data')",
																"type": "Expression"
															},
															"CW_FileName": {
																"value": "@concat(item().Destination.FileName,'.parquet')",
																"type": "Expression"
															},
															"ContainerName": {
																"value": "@variables('ContainerName')",
																"type": "Expression"
															},
															"DataLake": {
																"value": "@variables('DataLake')",
																"type": "Expression"
															}
														}
													},
													"enableLogging": false,
													"storeSettings": {
														"type": "AzureBlobFSReadSettings",
														"recursive": true,
														"enablePartitionDiscovery": false
													}
												}
											},
											{
												"name": "Delete The Left File_IDLoad_SingleFile",
												"type": "Delete",
												"dependsOn": [
													{
														"activity": "Delete The Left File_IDLoad_Folder",
														"dependencyConditions": [
															"Failed",
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataset": {
														"referenceName": "DataLakeParquet",
														"type": "DatasetReference",
														"parameters": {
															"CW_FolderName": {
																"value": "@variables('FolderName')",
																"type": "Expression"
															},
															"CW_FileName": {
																"value": "@concat(item().Destination.FileName,'.parquet')",
																"type": "Expression"
															},
															"ContainerName": {
																"value": "@variables('ContainerName')",
																"type": "Expression"
															},
															"DataLake": {
																"value": "@variables('DataLake')",
																"type": "Expression"
															}
														}
													},
													"enableLogging": false,
													"storeSettings": {
														"type": "AzureBlobFSReadSettings",
														"recursive": true,
														"enablePartitionDiscovery": false
													}
												}
											}
										]
									},
									{
										"value": "FullTakeOn",
										"activities": [
											{
												"name": "Copy_Data_Full_Take_On",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 3,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "PostgreSqlSource",
														"query": {
															"value": "@if(or(pipeline().parameters.ColumnsNamesBlankSpaces, greater(length(pipeline().parameters.LimitedLoadTopX),1)),\n    activity('SelectStatementBuilder').output.firstRow.Query,\n    concat('SELECT * FROM ', item().Source.TableName)\n    )",
															"type": "Expression"
														},
														"partitionOption": "None"
													},
													"sink": {
														"type": "ParquetSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "ParquetWriteSettings"
														}
													},
													"enableStaging": false,
													"validateDataConsistency": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "PostgresSQL_Dataset",
														"type": "DatasetReference",
														"parameters": {
															"ServerName": {
																"value": "@variables('ServerName')",
																"type": "Expression"
															},
															"DatabaseName": {
																"value": "@variables('DatabaseName')",
																"type": "Expression"
															},
															"UserName": {
																"value": "@variables('UserName')",
																"type": "Expression"
															},
															"CW_SchemaName": {
																"value": "@variables('SchemaName')",
																"type": "Expression"
															},
															"SecretName": {
																"value": "@variables('SecretName')",
																"type": "Expression"
															},
															"CW_TableName": {
																"value": "@item().Source.TableName",
																"type": "Expression"
															},
															"Port": {
																"value": "@variables('Port')",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DataLakeParquet",
														"type": "DatasetReference",
														"parameters": {
															"CW_FolderName": {
																"value": "@concat(variables('FolderName'),'/T1')",
																"type": "Expression"
															},
															"CW_FileName": {
																"value": "@concat(item().Destination.FileName,'.parquet')",
																"type": "Expression"
															},
															"ContainerName": {
																"value": "@variables('ContainerName')",
																"type": "Expression"
															},
															"DataLake": {
																"value": "@variables('DataLake')",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "Partition DF_FullLoad",
												"type": "ExecuteDataFlow",
												"dependsOn": [
													{
														"activity": "Copy_Data_Full_Take_On",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataflow": {
														"referenceName": "Partitioning DF",
														"type": "DataFlowReference",
														"parameters": {
															"cw_FileName": {
																"value": "'@{concat(item().Destination.FileName,'.parquet')}'",
																"type": "Expression"
															},
															"cw_FolderName": {
																"value": "'@{variables('FolderName')}'",
																"type": "Expression"
															},
															"cw_IncFolderName": {
																"value": "'@{variables('FolderName')}'",
																"type": "Expression"
															},
															"cw_incField": {
																"value": "'@{item().Increment.IncField}'",
																"type": "Expression"
															},
															"ContainerName": {
																"value": "'@{variables('ContainerName')}'",
																"type": "Expression"
															}
														},
														"linkedServiceParameters": {
															"source2": {
																"linkedService": {
																	"DataLake": {
																		"value": "@variables('DataLake')",
																		"type": "Expression"
																	}
																}
															},
															"sink1": {
																"linkedService": {
																	"DataLake": {
																		"value": "@variables('DataLake')",
																		"type": "Expression"
																	}
																}
															}
														}
													},
													"integrationRuntime": {
														"referenceName": "DataFlowIRLarge",
														"type": "IntegrationRuntimeReference"
													},
													"traceLevel": "Fine"
												}
											},
											{
												"name": "Delete the Temp File_FullLoad",
												"type": "Delete",
												"dependsOn": [
													{
														"activity": "Partition DF_FullLoad",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataset": {
														"referenceName": "DataLakeParquet",
														"type": "DatasetReference",
														"parameters": {
															"CW_FolderName": {
																"value": "@concat(variables('FolderName'),'/T1')",
																"type": "Expression"
															},
															"CW_FileName": {
																"value": "@concat(item().Destination.FileName,'.parquet')",
																"type": "Expression"
															},
															"ContainerName": {
																"value": "@variables('ContainerName')",
																"type": "Expression"
															},
															"DataLake": {
																"value": "@variables('DataLake')",
																"type": "Expression"
															}
														}
													},
													"enableLogging": false,
													"storeSettings": {
														"type": "AzureBlobFSReadSettings",
														"recursive": true,
														"enablePartitionDiscovery": false
													}
												}
											}
										]
									}
								],
								"defaultActivities": [
									{
										"name": "Fail1",
										"type": "Fail",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"message": "ERROR",
											"errorCode": "500"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"cw_items": {
				"type": "Array",
				"defaultValue": []
			},
			"TakeOnPeriod": {
				"type": "string",
				"defaultValue": " "
			},
			"Full_Load": {
				"type": "bool",
				"defaultValue": false
			},
			"ColumnsNamesBlankSpaces": {
				"type": "bool",
				"defaultValue": false
			},
			"LimitedLoadTopX": {
				"type": "string",
				"defaultValue": " "
			}
		},
		"variables": {
			"FolderName": {
				"type": "String",
				"defaultValue": "Unstructured Data/Onroute"
			},
			"DataLake": {
				"type": "String",
				"defaultValue": "https://citylogisticsstorageprod.dfs.core.windows.net/"
			},
			"ServerName": {
				"type": "String",
				"defaultValue": "orvdb.citylogistics.co.za"
			},
			"DatabaseName": {
				"type": "String",
				"defaultValue": "orv"
			},
			"UserName": {
				"type": "String",
				"defaultValue": "synapse"
			},
			"SecretName": {
				"type": "String",
				"defaultValue": "ORVSecret"
			},
			"SchemaName": {
				"type": "String",
				"defaultValue": "public"
			},
			"ContainerName": {
				"type": "String",
				"defaultValue": "synapse"
			},
			"ASAEndpoint": {
				"type": "String",
				"defaultValue": "citylogistics-synapseanalytics-workspace-prod-ondemand.sql.azuresynapse.net"
			},
			"ASADataBase": {
				"type": "String",
				"defaultValue": "master"
			},
			"Integration Runtime": {
				"type": "String",
				"defaultValue": "DataFlowIR"
			},
			"Port": {
				"type": "String",
				"defaultValue": "5432"
			}
		},
		"folder": {
			"name": "PROD/BackEnd/Extract/ORV"
		},
		"annotations": [],
		"lastPublishTime": "2022-04-04T06:22:12Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}