pipeline/Refresh_GetStatus.json
{
	"name": "Refresh_GetStatus",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://api.powerbi.com/v1.0/myorg/groups/', pipeline().parameters.GroupID,'/datasets/',pipeline().parameters.DataflowID,'/refreshes')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"authentication": {
						"type": "MSI",
						"resource": "https://analysis.windows.net/powerbi/api"
					}
				}
			},
			{
				"name": "Until Refresh Completion DC",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(equals(activity('Get Power BI Dataflow status DC 1').output.value[0].status,'Completed'),\nequals(activity('Get Power BI Dataflow status DC 1').output.value[0].status,'Failed')\n)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Wait 30s",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 30
							}
						},
						{
							"name": "Get Power BI Dataflow status DC 1",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Wait 30s",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.3:00:00",
								"retry": 3,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat('https://api.powerbi.com/v1.0/myorg/groups/', pipeline().parameters.GroupID,'/datasets/',pipeline().parameters.DataflowID,'/refreshes?$top=1')",
									"type": "Expression"
								},
								"connectVia": {
									"referenceName": "AutoResolveIntegrationRuntime",
									"type": "IntegrationRuntimeReference"
								},
								"method": "GET",
								"authentication": {
									"type": "MSI",
									"resource": "https://analysis.windows.net/powerbi/api"
								}
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			}
		],
		"parameters": {
			"GroupID": {
				"type": "string",
				"defaultValue": "@item().GroupID"
			},
			"DataflowID": {
				"type": "string",
				"defaultValue": "@item().DataflowID"
			}
		},
		"folder": {
			"name": "PowerBIRefresh"
		},
		"annotations": []
	}
}